body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #4a6fa5;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #4a6fa5;
}

ul, ol {
    padding-left: 20px;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 100%;
}

section p {
    font-size: 16px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

button {
    background-color: #4a6fa5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #3b5c8a;
}


footer {
    background-color: #4a6fa5;
    color: white;
    text-align: center;
    padding: 10px;
}
